[submodule "src/segment_tools/FastSAM"]
	path = src/segment_tools/FastSAM
	url = https://github.com/CASIA-IVA-Lab/FastSAM.git
	# Commit hash: 4d153e909f0ad9c8ecd7632566e5a24e21cf0071

[submodule "src/segment_tools/Depth-Anything_segtools"]
	path = src/segment_tools/Depth-Anything_segtools
	url = https://github.com/qwertyroiro/Depth-Anything_segtools.git

[submodule "src/segment_tools/dinov2"]
	path = src/segment_tools/dinov2
	url = https://github.com/facebookresearch/dinov2.git
	# Commit hash: e1277af2ba9496fbadf7aec6eba56e8d882d1e35

[submodule "src/segment_tools/XMem"]
	path = src/segment_tools/XMem
	url = https://github.com/hkchengrex/XMem.git
	# Commit hash: a4427dbd748f66ed8fef159b529527e23060c666

[submodule "src/segment_tools/GRiT"]
	path = src/segment_tools/GRiT
	url = https://github.com/JialianW/GRiT.git
	# Commit hash: 39b33dbc0900e4be0458af14597fcb1a82d933bb
[submodule "src/segment_tools/OneFormer_colab_segtools"]
	path = src/segment_tools/OneFormer_colab_segtools
	url = https://github.com/qwertyroiro/OneFormer_colab_segtools.git
