.venv/
weights/
__pycache__/

test.py
test.ipynb
backup.txt
test2.py
flake.lock
flake.nix
video.mp4
video_1frame.jpg
flake.nix
output_video.mp4
Untitled.ipynb
oneformer_video_demo.ipynb
*.whl
*.egg-info/
all_test.py
