[submodule "src/segment_tools/FastSAM"]
	path = src/segment_tools/FastSAM
	url = https://github.com/CASIA-IVA-Lab/FastSAM.git

[submodule "src/segment_tools/OneFormer_colab_segtools"]
	path = src/segment_tools/OneFormer_colab_segtools
	url = https://github.com/qwertyroiro/OneFormer_colab_segtools.git